<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<array>
			<string>Inter-Black.otf</string>
			<string>Inter-Bold.otf</string>
			<string>Inter-ExtraBold.otf</string>
			<string>Inter-Light.otf</string>
			<string>Inter-Medium.otf</string>
			<string>Inter-Regular.otf</string>
			<string>Inter-SemiBold.otf</string>
		</array>
	</array>
</dict>
</plist>
